

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                @Html.AntiForgeryToken()
                <div class="card-body card-block">

                    <div class="col-md-10 offset-md-2">

                        <div class="form-inline">

                            <div class="form-group">
                                <label for="Date">From Date</label>
                                @Html.TextBox("FromDate", "", new { @class = "form-control mx-sm-3", @id = "Fdate", @type = "date", @Value = @DateTime.Now.ToShortDateString() })
                            </div>

                            <div class="form-group">
                                <label for="Date">To Date</label>
                                @Html.TextBox("ToDate", "", new { @class = "form-control mx-sm-3", @id = "Tdate", @type = "date", @Value = @DateTime.Now.ToShortDateString() })
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group">
                                @Html.Label("Packages", "Packages", new { @class = "form-control-label" })
                                @Html.DropDownList("Package", (SelectList)ViewBag.Packages, "--Select--", new { htmlAttributes = new { @class = "form-control mx-sm-3" } })
                            </div>
                            <div class="clearfix"></div>

                            <button type="button" class="btn btn-primary" id="btn-search2">Search</button>

                        </div>
                    </div>
                </div>
                <div id="reportviewer1" class="col-lg-12">
                    <iframe id="frame1" width="100%" onLoad="autoResize()">
                    </iframe>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function autoResize() {
        debugger
        $('#frame1').height($('#frame1').contents().height());
    }

    function isDate(dateVal) {
        var d = new Date(dateVal);
        return d.toString() === 'Invalid Date' ? false : true;
    }

    document.getElementById("btn-search2").addEventListener("click", function () {
        var Fdate = $("#Fdate").val();
        var Tdate = $("#Tdate").val();
        var packageId = $("#Package").val();

        var date = isDate(Fdate);
        var date1 = isDate(Tdate);
        debugger
        if (date && date1) {
            var url = '@Url.Action("PackageReport", "Report")';
            debugger
            $.ajax({
                type: "POST",
                url: url,
                data: { fdate: Fdate, tdate: Tdate, packageId: packageId},
                success: function (response) {
                    debugger
                    $('#frame1').attr('src', response);
                    return;
                },

                error: function (xhr, ajaxOptions, thrownError) {
                    GlobalFunctions.GetMessage(thrownError, null, "1", 0, null, null);
                    //alert(xhr.status);
                    //alert(thrownError);
                    return;
                }
            });
        }
        else {
            GlobalFunctions.GetMessage("The Date field is required.", null, "1", 0, null, null);
            $("#Fdate").focus();
        }
    });

</script>


