@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/_ViewLookupTab.cshtml")



@*<h1>test page </h1>*@

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
            bindView('@Url.Action("List", "Account")', 'list')
            setTimeout(function () {
                LoadTabs();
            }, 1000);
            function LoadTabs() {
                bindView('@Url.Action("Register", "Account")', 'addedit')
            }
        });

        $('#templatemo-tabs a').click(function (e) {
            var id = $(this).attr('href');
                switch (id) {
                    case "#list":
                        bindView('@Url.Action("List", "Account")', 'list')
                        if ($('ul.nav.nav-tabs a:eq(1)').text()=="Update")
                        {
                             $('ul.nav.nav-tabs a:eq(1)').html('Add');
                             bindView('@Url.Action("Register", "Account")', 'addedit')
                        }
                        break;
                    case "#addedit":
                        bindView('@Url.Action("Register", "Account")', 'addedit')
                        break;
                    default:
                }
        });
</script>

