

@model ERP.Core.Models.GeneralManagement.Designation

<div class="form">
    @using (Html.BeginForm("Edit", "Designation", FormMethod.Post, new { enctype = "multipart/form-data", onSubmit = "return JQueryAjaxPost(this);", data_restUrl = Url.Action("Edit", "Designation"), @class = "form-horizontal", id = "Designation-form" }))//data-resetUrl
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)

        <div class="form-row">
            <div class="form-group col-md-10">
                @Html.LabelFor(model => model.Name, new { @class = "form-control-label required" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>

            <div class="form-check">
                @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", @type = "checkbox" })
                @Html.LabelFor(model => model.IsActive, new { @class = "form-control-label" })

            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-success btn-lg" type="submit" id="btn-update">Update</button>
                <button class="btn btn-danger btn-lg" type="button" id="btn-cancel">Cancel</button>
            </div>
        </div>
    }
</div>
<script>
 $('#btn-cancel').on('click', function () {
        CancelUpdate("@Url.Action("Create", "Designation")","@Url.Action("List", "Designation")");
        });
</script>